/* About.module.css */

/* Scroll-in animation */
.show {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.hide {
  opacity: 0;
  transform: translateY(1.5rem);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}
